* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header h2 {
    font-size: 2em;
    font-weight: bolder;
    color: #fa0;
}
main article h3 {
    font-size: 1.5em;
    font-style: italic;
    color: #9c2c2c;
}
dt {
    font-size: 1.2em;
    font-style: bold;
    color: #8b0000;
}
li {
    list-style: none;
}
aside a {
    text-transform: uppercase;
    font-size: 1.1em;
    color: #f00;
}
nav a:visited{
    color: green;
}
nav a:hover{
    color: red;
}
nav a{
    text-decoration: none;
}
aside::before {
    content: open-quote;
}
aside::after {
    content: close-quote;
}
.destque {
    font-size: 1.05em;
    color: #f00;
    text-transform: uppercase;
}
#headerXimiraVida {
    background-color: green;
}